.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.photo {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.photo img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
